# Protocol Configuration
NEXT_PUBLIC_CONTRACT_ADDRESS=0x...
NEXT_PUBLIC_DELEGATED_ACCOUNT_ADDRESS=0x...
NEXT_PUBLIC_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Privy Configuration
NEXT_PUBLIC_PRIVY_APP_ID=

# KRNL Configuration
NEXT_PUBLIC_KRNL_NODE_URL=https://v0-1-0.node.lat/
